body{
    margin:0;
    padding:0;
    background:url(images/header_bg.png) repeat-x;;
}
#header{
    width:900px;
    padding:0;
    margin:0 auto;
    height:30px;
}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style:none;
}
#header .logo{
    width:100px;
    float:left;
}
#header .member{
    width:75px;
    float:right;
    height:30px;
    line-height:30px;
    font-size:14px;
    background: url(images/arrow.png) no-repeat right center;
    cursor:pointer;
    position:relative;
}
.member_ul{
    position:absolute;
    left:-15px;
    top:30px;
    width:100px;
    background: #FBF7E1;
    border:1px solid #999;
    border-top:none;
    height:110px;
    padding:10px 0 0 0;
    display:none;
}
.member_ul li{
    height:25px;
    line-height:25px;
    text-indent: 20px;
    letter-spacing: 2px;
    background: url(images/arrow3.gif) no-repeat 5px center;
}
.member_ul li a{
    text-decoration: none;
    color:#333;
    font-size:12px;
    display: block;
}
.member_ul li a:hover{
    background: #fc0 url(images/arrow4.gif) no-repeat 5px center;;
}
#header .login{
    float:right;
    font-size:14px;
    height:30px;
    line-height:30px;
    width:50px;
    cursor:pointer;
}
#screen{
    position:absolute;
    top:0;
    left:0;
    background: #000;
    z-index:9998;
    filter:alpha(opacity=30);
    opacity:0.3;
    display:none;
}
#login{
    width:350px;
    height:250px;
    border:1px solid #ccc;
    position:absolute;
    display:none;
    z-index:9999;
    background: #fff;
}
#login h2{
    height:40px;
    font-size:14px;
    text-align:center;
    letter-spacing:1px;
    color:#666;
    padding:0;
    background: url(images/login_header.png) repeat-x;
    border:1px solid #ccc;
    line-height:40px;
    margin:0 0 20px 0;
    cursor:move;
}
#login h2 img{
    float:right;
    position:relative;
    top:14px;
    right:8px;
    cursor: pointer;
}
#login .user,#login .pass{
    font-size:14px;
    color:#666;
    padding:5px 0;
    text-align: center;
}
#login input .text{
    height:25px;
    width:100px;
    border:1px solid #ccc;
    background:#fff;
    font-size:14px;
}
#login .button{
    text-align: center;
    padding:10px 0;

}
#login .submit{
    width:107px;
    height:30px;
    background: url(images/login_button.png) no-repeat;
    border:none;
    cursor:pointer;
    padding:15px 0;
}

#login .other{
    float:right;
    padding:40px 15px 15px 15px;
    color:#666;
    font-size:12px;
}

